@media (max-width: 1000px) {
    .sidebar {
        display: none;
    }
    .content-container {
        display: flex;
        justify-content: center;
    }
    .navbar-inner {
        width: 100%;
    }
    .logout-button{
        display: none;
    }
}

@media (max-width: 640px) {
    .content-container {
        padding-top: 0px
    }
    .navbar-inner {
        padding: 0;
    }
    .content {
        margin: 0;
    }
    .search-bar {
        display: none;
    }
    .header {
        border: none;
        background: transparent;
    }
    .logout-button{
        display: none;
    }
    .profile-pic{
        display: none;
    }
    ._0ZPOP{
        display: none;
    }
    .auth-user{
        margin: 0;
    }
    #upload-page{
        margin: 60% 0 0 15%;
    }
    .post-form{
        height: 100vh;
        width: 100vh;
    }
    #upload-page .post-form{
        margin: 0;
    width: 70%;
    
}
    #firebaseui-auth-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70%;
}
.navbar-inner > .logo {
    display: none;
}
.navbar-icons-inner {
    display: flex;
    justify-content: space-between;
    padding: 0;

}

.post-button{
    margin: 0;
}

#create-caption{
    width: 10rem;
    margin-left: 3rem;
}

.btns-div{
    display: flex;
    flex-direction: row;
}
.discard-btn{
 font-size: 0.8rem;
 padding: 1rem 2.3rem;   
}
#upload-button{
    padding: 1rem;
    margin: 0 0 0 3rem;
    font-size: 0.8rem;
}
}